# force cpu pytorch (for actions)
torch>=2.2.1
# for the actual data
transformer_lens
# shortening numerical values to strings, concatenating tensor dicts
muutils
# for the table
pandas
# for writing the pandas dataframe to markdown
tabulate
# transfromer_lens crashes without pytest, no idea why
pytest
# for CLI
fire